header{
    background-color: map-get($cabecera, bg-header);
    border: map-get($cabecera,bordes-header);
    nav{
        ul{
            list-style: none;
            padding: 20px;
            @extend %display-row;
            li{
                background-color: lightblue;
                a{
                text-decoration: none;
                font-size: 20px;
                    &:hover{
                    text-decoration: underline;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 720px) {
    background-color: lightgray;
    }
};